.navbar {
    height: 70px;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: rgb(200, 199, 199);
    background-color:#1f1f1f;
    border-bottom: 1px solid rgb(198, 4, 4);

    .wrapper {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 20px;
        justify-content: space-between;

        .logo{
            display: flex;
            align-items: center;


            img{
                width: 50px;
                border-radius: 50%;
            }

            .text{
                padding: 10px;
                font-size: 40px;
            }
 
        }

        .block-1 {
            display: flex;
            align-items: center;

            .item {
                position: relative;
                display: flex;
                align-items: center;
                margin-right: 20px;
                cursor: pointer;
                font: 400 1rem "Roboto Flex";

                &:hover {
                    color: #00def2;

                }
            }

        }

        .block-2 {
            display: flex;
            align-items: center;

            .item {
                position: relative;
                display: flex;
                align-items: center;
                margin-right: 20px;
                cursor: pointer;

                .notification {
                    font-size: 12px;
                    font-weight: bold;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: white;
                    position: absolute;
                    top: -4px;
                    right: -4px;
                    height: 17px;
                    width: 17px;
                    border-radius: 50%;
                    background-color: rgb(255, 0, 0);
                    box-shadow: 0 0 4px red;
                }

                img {
                    height: 35px;
                    width: 35px;
                    border-radius: 50%;
                }

                &:hover {
                    color: #00def2;

                    .notification {
                        box-shadow: 0 0 15px red;
                    }
                }

                svg {
                    height: 24px;
                    width: 24px;
                    
                }
            }

        }
    }
}